<html>
    <head>

    </head>
    <body>
        <div style="text-align: right">
            {% if user_display_name %}
                Hello, {{ user_display_name }}. <a href="/simple/logout/">Logout</a>
            {% else %}
            <span class="font-color:red">{{ error.value }}</span>
                <form action="/simple/" onsubmit="if(!((document.getElementById('username').value)&&(document.getElementById('userpass').value))){alert('empty data!'); return false;}" method="POST">
                    login:<input name="username" id="username"/><br/>
                    pass:<input type="password" name="userpass" id="userpass"/><br/>
                    <input type="submit" value="Login"/>
                </form>
            {% endif %}
        </div>
        <hr/>
        {% block content %}
        {% endblock %}
    </body>
</html>