{% extends "base.html" %}
{% block content %}
<h2>Name:</h2><p>{{ info.name }}</p>
<h2>Surname:</h2><p>{{ info.surname }}</p>
<h2>Birthday:</h2><p>{{ info.birthday }}</p>
<h2>About:</h2><p>{{ info.about }}</p>
<h2>Contacts:</h2><p>{{ info.contacts|safe }}</p>
<form action="/simple/" method="post">

    {{ form.contacts.errors }}
    {{ form.contacts.label_tag }}: Contacts</label>
    {{ form.contacts }}

    {{ form.about.errors }}
    {{ form.about.label_tag }}: About</label>
    {{ form.about }}

    {{ form.birthday.errors }}
    {{ form.birthday.label_tag }}: Birthday</label>
    {{ form.birthday }}

    {{ form.surname.errors }}
    {{ form.surname.label_tag }}: Surname</label>
    {{ form.surname }}

    {{ form.name.errors }}
    {{ form.name.label_tag }}: Name</label>
    {{ form.name }}

    <input type="submit" value="Submit" />
</form>
{% endblock %}
