{% extends "base.html" %}
{% block content %}
<div id="header">
    {% if user_display_name %}
        Hello, {{ user_display_name }}. <a href="/simple/logout/">Logout</a>
    {% else %}
    <span class="error">{{ error.value }}</span>
        <form action="/simple/" onsubmit="if(!((document.getElementById('username').value)&&(document.getElementById('userpass').value))){alert('empty data!'); return false;}" method="POST">
            login:<input name="username" id="username"/><br/>
            pass:<input type="password" name="userpass" id="userpass"/><br/>
            <input type="submit" value="Login"/>
        </form>
    {% endif %}
</div>
<hr/>
<h2>Name:</h2><p>{{ info.name }}</p>
<h2>Surname:</h2><p>{{ info.surname }}</p>
<h2>Birthday:</h2><p>{{ info.birthday }}</p>
<h2>About:</h2><p>{{ info.about }}</p>
<h2>Contacts:</h2><p>{{ info.contacts|safe }}</p>
<a href="/simple/edit/">Edit</a>
{% endblock %}
